<div class="container">
    <h1>Add player</h1>
    <div>
        <input type="text" #playerInput> <br>
        <button (click)="playerList(playerInput.value)" class="btn btn-primary"
            style="border: rgb(211, 189, 189) 3px solid;width:150px;">add</button>
    </div>
    <table class="table table-bordered" style="color: white;">
        <thead>
            <tr>
                <th>SrNO</th>
                <th>Player Name</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plyname of addPlayer;index as playerInput">
                <td>{{playerInput+1}}</td>
                <td>{{plyname.playerName}}</td>
                <td><button (click)="remove(playerInput)">remove</button></td>
            </tr>
        </tbody>
    </table>
</div>