<p>assmentproduct works!</p>
<div class="row">
    <div class="col-md-8">
        <div class="card" style="width: 30%;">
            <img src="https://cdn1.smartprix.com/rx-ioKTQfBn2-w1200-h1200/oKTQfBn2.jpg" style="width: 30%;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">OnePlus Nord 2T (12GB RAM + 256GB) price in India starts from ₹33,988. It is available at lowest price 
                on Flipkart in India as on Dec 26, 2022. Take a look at OnePlus Nord 2T (12GB RAM + 256GB) detailed specifications and features.</p>
              <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
            </div>
           
          </div>
          
    </div>
</div>