<div [ngStyle]="{'color':colorVal, 'background-color':'#ddd'}">
    Learning Angular8
</div>
<h4>NgClass</h4>

<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success': person.country === 'UK',
        'text-primary': person.country === 'USA',
        'text-danger': person.country === 'HK'
    }">
 
     {{person.name}} ({{person.country}})
    </li>
</ul>
<p>Normal para</p>
<p appCustdir>Custom para</p>

<!-- Once user input value then that value should be displayed on html page -->
<!-- <div style= "text-align: center">
    <input type="text" (keyup.enter)="show($event)">
</div>
{{uName}} -->
<!-- another way to crate user input story by using template reference variable -->
<div>
<input type="text" #uusername>
</div>
<button (click)="show(uusername.value)">Show</button>
<div>
    {{username}}
</div>

