
.container,h1{
    background-color: #fffff2;
    max-width: none;
    text-align: center;
}

h1{
    text-align: center;
    font-style: italic;
    color: blue;
    margin-bottom: 10px;
}
input{
    width:250px; 
    height:50px;
    border:2px solid rgb(61, 8, 8);
    border-radius: 5px;
    text-align: center;
}