<h1>Add Passenger details </h1>
<div class="container">

        <input  [(ngModel)]="addName" #enter type="text" placeholder="Name">
        <!-- <input [(ngModel)]="addAge" #enter type="text" placeholder="Age"><br> -->


    
    <div style="margin: 20px ">
        <button type="button" class="btn btn-primary" (click)="addPassenger(enter.value)">Add passenger</button>
    </div>
    <table class="table table-striped" class="table align-middle">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Remove Item</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nme of add">
                <td> {{nme.addName}}</td>
                <td>
                    <button (click)="removeData(value)" class=" btn btn-sm btn-warning">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>